@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@300;400;500;600;700&family=Righteous&display=swap");

/*font-family: 'Pacifico', cursive;*/
/*font-family: 'Quicksand', sans-serif;*/
/*font-family: 'Righteous', cursive;*/

:root {
  --divita-salmon: #f98770;
  --divita-teal: #0fa3b1;
  --divita-blue: #b5e2fa;
  --divita-cream: #f9f7f3;
  --divita-light-grey: #e6e6e6;
  --divita-dark-grey: #8b8b8b;
  --container-width: 80vw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  width: 100%;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container {
  width: var(--container-width);
  margin: auto;
  margin-top: 2em;
}

.item {
  width: 100%;
  min-height: 2em;
  height: auto;
  border-radius: 6px;
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  font-size: 24px;
}

body,
button,
input,
select {
  font-family: "Quicksand", sans-serif;
}

input {
  width: 100%;
  height: 50px;
  border: none;
  background-color: var(--divita-light-grey);
  margin-bottom: 0.5em;
  padding: 0.5em;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 2px solid var(--divita-dark-grey);
}

.formWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 80vh;
}

.formWrapper input,
.formWrapper select {
  font-size: 20px;
}

.formTitle {
  font-size: 50px;
  margin: 0.3em;
}

#addTaskForm,
#addGoalsForm {
  width: 60%;
}

.categoryInputArea,
.expiryDateInput,
.rewardInputArea {
  display: flex;
  width: 100%;
}

.half-width-input {
  width: 50%;
  margin: 0.3em 0;
  align-items: center;
  display: flex;
}

.rewardInputArea > select {
  width: 50%;
  margin: 0.3em;
}

select {
  height: 50px;
  font-size: 28px;
  margin-bottom: 0.5em;
  /*padding: 0.5em;*/
}

.input::placeholder {
  /*font-weight: bold;*/
  color: var(--divita-dark-grey);
}

.confirmationText {
  font-size: 30px;
  margin: 1em 0;
}

.buttonsWrapper {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.formBtn {
  padding: 1em 5em;
  margin: 0 1em;
  border: none;
  cursor: pointer;
}

.formBtn.confirmBtn {
  background-color: var(--divita-blue);
}

.formBtn.confirmBtn:hover {
  color: var(--divita-light-grey);
  background-color: var(--divita-teal);
}

.amount-and-buttons {
  display: flex;
}
.amount-and-buttons > p {
  margin-right: 5px;
}
.amount-and-buttons > i {
  margin-left: 5px;
  cursor: pointer;
}

.green {
  color: green;
}

.red {
  color: red;
}
