
#kidsName {
    background-color: grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#tasksList {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


#tasksHeader {
    border: 2px solid blue;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#eachTask {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#goalsHeader {
    border: 2px solid blue;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#eachGoal {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}