@import "base.css";

#logo {
  font-family: "Pacifico", cursive;
  font-size: 48px;
}

#log-in,
#sign-up {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#log-in a,
#sign-up a {
  text-decoration: none;
  color: var(--divita-teal);
}

#log-in a:hover,
#sign-up a:hover {
  text-decoration: none;
  color: var(--divita-salmon);
}

#sign-up-form,
#log-in-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

/* Radio Buttons Inspiration: https://codepen.io/dsenneff/pen/ZoLVZW */
.type-option input {
  width: 0;
  height: 0;
  position: absolute;
  left: -9999px;
}

.type-option input + label {
  padding: 10px;
  width: 100px;
  position: relative;
  display: inline-block;
  background-color: var(--divita-light-grey);
  cursor: pointer;
}

.type-option input:checked + label {
  color: #ffffff;
  padding: 10px;
  width: 100px;
  background-color: var(--divita-teal);
  z-index: 1;
}

#log-in fieldset,
#sign-up fieldset {
  border: none;
}

.login-signup-message {
  margin-top: 1em;
}

.login-sign-up-button {
  margin-top: 2em;
  font-weight: bold;
  all: unset;
  cursor: pointer;
  background-color: var(--divita-light-grey);
  height: 50px;
  width: 50%;
  text-align: center;
}

.login-sign-up-button:hover {
  background-color: var(--divita-blue);
}

#login-type {
  margin-bottom: 20px;
  display: flex;
}
