@import "base.css";

#logo {
  font-family: "Pacifico", cursive;
  font-size: 48px;
}

#log-in,
#sign-up {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#log-in a,
#sign-up a {
  text-decoration: none;
  color: var(--divita-teal);
}

#log-in a:hover,
#sign-up a:hover {
  text-decoration: none;
  color: var(--divita-salmon);
}

#sign-up-form,
#log-in-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

input[type="radio"].type {
  display: none;
  width: 50px;
}

input[type="radio"].type + label {
  padding: 10px;
  width: 100px;
  background-color: var(--divita-light-grey);
}

input[type="radio"].type:checked + label {
  padding: 10px;
  width: 100px;
  background-color: var(--divita-teal);
  color: teal;
}

#log-in fieldset,
#sign-up fieldset {
  border: none;
}

.login-signup-message {
  margin-top: 1em;
}

.login-sign-up-button {
  all: unset;
  cursor: pointer;
}

#login-type {
  margin-bottom: 20px;
}
